* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    --clr-fordark-Gray: hsl(0, 0%, 63%);
    --clr-forwhite: hsl(0, 0%, 100%);
    --clr-forverydarkgray: hsl(0, 0%, 27%);
}

body {
    font-family: "League Spartan", sans-serif;
}

/*  */


/* =======================================
NAV STYLING
====================================== */
nav {
    display: flex;
    /* justify-content: space-between; */
    width: 60%;
    height: 130px;
    align-items: center;
    padding: 15px 20px;
}

.list-item0 {
    display: none;
}

.ul {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    color: white;
}

.ul a {

    text-decoration: none;
    color: var(--clr-forwhite);
}

.menu {
    display: none;
}

/* =======================================
NAV STYLING END
====================================== */
/* =======================================
 slidedesign+main 
 ====================================== */
/*  */

main {
    position: absolute;
    background-color: var(--clr-forwhite);
    z-index: -5;
}

.mobile {
    display: none;
}

.none {
    display: none;
}

.one-slide {
    position: relative;
    top: -130px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr .5fr;
    z-index: -1;

}

.none3 {
    display: none;
}

.one {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
}

.unique {
    grid-column: 5/8;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.one .desktop {
    height: 100%;
    width: 100%;

}

.arrow {
    display: flex;
    height: 100px;
    width: 100%;
}

/* .right-arrow button :hover{
    background-color: blueviolet;
    cursor: pointer;
} */
.left-arrow button {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
    background-color: black;
    border: none;
    z-index: 5;
}

.left-arrow:hover {
    color: rgba(0, 0, 0, 0.608);
    cursor: pointer;
}

.right-arrow button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
    background-color: black;
    /* :hover{
        background-color: aqua;
    } */
    z-index: 4;
}

.right-arrow button:hover {
    color: rgba(0, 0, 0, 0.608);
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.568);
    cursor: pointer;
}

.two {
    width: 100%;
    padding: 50px;
    padding-block: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.two-h1 {
    width: 70%;
}

.two h1 {
    padding-block: 20px;
    font-weight: 600;

}

.two p {
    width: 70%;
    color: var(--clr-fordark-Gray);
    line-height: 1.5;
    font-size: clamp(15px, 0.5vw, 18px);
}

.two h1 {
    font-size: clamp(25px, 3vw, 35px);
}

.shop-now {
    display: flex;
    justify-content: start;
    width: 70%;
    padding-block: 25px;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 600;
    font-size: 14px;
}

.shop-now img {
    padding-left: 20px;
}

.about {
    position: relative;
    top: -130px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.about-images-one img {
    height: 100%;
    width: 100%;
}

.about-now {
    padding-block:
        20px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 6px;
    font-size: clamp(16px, 2vw, 20px);
}

.about-text {

    padding: 50px;
}

.about-text p {
    color: var(--clr-fordark-Gray);
    line-height: 1.5;
    font-size: clamp(15px, 2vw, 16px);
}

/* =======================================
slidedesign+main 
====================================== */
/* =======================================
medias
====================================== */
@media(max-width:600px) {
    nav {
        width: 100%;
        display: flex;
        /* justify-content: space-between; */
    }

    .list-item0 {
        display: block;
    }

    .logo {
        display: block;
        margin-inline: auto;
        /* justify-self: center; */
    }

    .dupli {
        height: 15%;
        width: 15%;
    }

    .one-slide {
        grid-template-rows: repeat(2, 0.7fr);
        grid-template-columns: 1fr;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        height: 100%;
        width: 100%;
    }

    .unique {
        grid-column: 1 / 8;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .about-text{
        padding: 10px;
    }
    /* .one img{
        height: 100%;
        width: 100%;
    } */
    .one {
        grid-row: 1/2;
    }

    .left-arrow button {

        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50px;
        background-color: black;
        border: none;
        z-index: 5;
    }

    .right-arrow button {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50px;
        background-color: black;
        /* :hover{
            background-color: aqua;
        } */
        z-index: 4;
    }

    /* .right-arrow button:hover {
        color: rgba(0, 0, 0, 0.608);
        cursor: pointer;
    }
    .left-arrow button:hover {
        color: rgba(0, 0, 0, 0.608);
        cursor: pointer;
    } */
    .two {
        align-items: start;
    }

    .two-h1 {

        width: 100%;
    }

    .two h1 {
        font-size: clamp(20px, 8vw, 35px);
    }

    .two p {
        width: 100%;
    }

    .shop-now {
        width: 100%;
    }

    .arrow.block {
        display: flex;
        height: 50px;
        width: 100px;
        position: absolute;
        right: 0px;
    }

    .unblock {
        display: none;
    }

    .left-arrow,
    .right-arrow {
        height: 100%;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .ul {
        display: flex;
        justify-content: space-evenly;
        height: 100px;
        width: 100%;
        position: absolute;
        align-items: center;
        background-color: white;
        /* color: black; */
        z-index: -3;
        top: 0px;
        left: 0px;
    }

    .ul a {
        font-weight: 700;
        color: black;
    }

    .menu {
        display: block;
    }

    .none2 {
        display: none;
    }
}

@media(max-width:281px){
    .shop-now {
        display: flex;
        justify-content: start;
        width: 100%;
        padding-block: 25px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 14px;
    }
    .about-now {
        padding-block: 20px;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 2px;
        font-size: clamp(16px, 2vw, 20px);
    }
    .two {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }
}

/* =======================================
medias end
====================================== */